body{
    background-color: cadetblue;
}

.inbox{
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 10%;
}

p{
    display: inline-block;
}

input{
    margin-left: 45%;
}

h1{
    text-align: center;
    color: antiquewhite;
}