html{
    background-image: url(images.jpg);
}
.clock-face{
    background-color: rgb(100, 80, 14);
    width: 600px;
    border-radius: 50%;
    height: 600px;
    margin-left: 35%;
    margin-top: 12%;
}

.hand{
    background-color: black;
    width: 15%;
    height:6px;
    position:absolute;
    top:57%;
    left:37%;
    transform: rotate(60deg);
    transform-origin: 90%;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
